body {
    max-width: 800px;
    margin: auto;
    background-color: beige;
}

.f1 {
    text-align: left;
    font-size: 30px
}

.f2 {
    text-align: center;
    margin: 0;
    font-size: 30px
}

.f3 {
    text-align: right;
    margin: 0;
    font-size: 30px
}